E-Commerce Sales Data Cleaning.

In [2]:
#Importing python libraries.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Importing e-commerce sales data into jupyter notebook.

In [5]:
orders = pd.read_excel("E-Commerce Sales Data.xlsx")

In [6]:
#Reading the orders dataframe

In [7]:
orders

,Additional Order items,Category Name,Customer City,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order Quantity,Product Price,Profit Margin,Profit Per Order,Sales
0,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Sean,568,Consumer,PR,725.0,LATAM,568,17-06-2017,61558,South America,269.980011,1,299.980011,26.10%,78.290001,800.000000
1,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Carol,3341,Consumer,PR,725.0,LATAM,3341,18-04-2017,57472,South America,269.980011,1,299.980011,-5.40%,-16.200001,800.000000
2,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,263.980011,1,299.980011,3.90%,11.620000,800.000000
3,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,260.980011,1,299.980011,-1.10%,-3.390000,800.000000
4,Hunting & Shooting,Hunting & Shooting,Caguas,Puerto Rico,Mary,10740,Consumer,PR,725.0,LATAM,10740,05-06-2017,58644,Central America,130.490005,1,149.990005,-63.80%,-95.650002,149.990005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115741,Water Sports,Water Sports,Los Angeles,United States,Mary,2666,Corporate,CA,90033.0,USCA,2666,13-04-2016,32105,US Center,175.990005,1,199.990005,27.50%,55.090000,199.990005
115742,Shop By Sport,Shop By Sport,Upland,United States,Victoria,8100,Corporate,CA,91786.0,USCA,8100,07-02-2016,37555,East of USA,33.189999,1,39.990002,37.40%,14.940000,39.990002
115743,Fishing,Fishing,Los Angeles,United States,Mary,2666,Corporate,CA,90033.0,USCA,2666,13-04-2016,32105,US Center,331.980011,1,399.980011,39.80%,159.350006,399.980011
115744,Fishing,Fishing,Los Angeles,United States,Mary,9547,Corporate,CA,90027.0,USCA,9547,08-06-2016,39980,West of USA,331.980011,1,399.980011,24.90%,99.599998,399.980011
115745,Golf Balls,Golf Balls,Las Vegas,United States,Mary,11747,Corporate,NV,89123.0,USCA,11747,26-04-2016,32995,West of USA,12.440000,1,14.990000,39.80%,5.970000,14.990000

In [8]:
#Getting information (shape & data types) on the columns orders dataframe.

In [9]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115746 entries, 0 to 115745
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Additional Order items  114722 non-null  object
 1   Category Name           115746 non-null  object
 2   Customer City           115746 non-null  object
 3   Customer Country        115746 non-null  object
 4   Customer Fname          115746 non-null  object
 5   Customer Id             115746 non-null  int64
 6   Customer Segment        115746 non-null  object
 7   Customer State          115746 non-null  object
 8   Customer Zipcode        115743 non-null  float64
 9   Market                  115746 non-null  object
 10  Order Customer Id       115746 non-null  int64
 11  Order Date              115746 non-null  object
 12  Order Id                115746 non-null  int64
 13  Order Region            115746 non-null  object
 14  Order Item Total        115746 non-null  float64
 15  Order Quantity          115746 non-null  int64
 16  Product Price           115746 non-null  float64
 17  Profit Margin           115746 non-null  object
 18  Profit Per Order        115746 non-null  float64
 19  Sales                   115746 non-null  float64
dtypes: float64(5), int64(4), object(11)
memory usage: 17.7+ MB

In [10]:
#Getting column names.

In [11]:
orders.columns

Index(['Additional Order items', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Fname', 'Customer Id', 'Customer Segment',
       'Customer State', 'Customer Zipcode', 'Market', 'Order Customer Id',
       'Order Date', 'Order Id', 'Order Region', 'Order Item Total',
       'Order Quantity', 'Product Price', 'Profit Margin', 'Profit Per Order',
       'Sales'],
      dtype='object')

In [12]:
#Renaming orders columns.

In [13]:
orders = orders.rename(columns = {"Category Name":"Category", "Customer City":"City", "Customer Country":"Country", "Customer Fname":"Customer Name", "Customer Segment":"Segment", "Customer State":"State", "Customer Zipcode":"ZIP Code", "Order Region":"Region", "Order Quantity":"Quantity", "Profit Per Order":"Profit"})

In [14]:
#Removal of duplicated rows.

In [15]:
orders.duplicated().any()

False

In [16]:
#Data formatting and standardisation.

In [17]:
orders["Additional Order items"].sort_values().unique()

array(['As Seen on  TV!', 'Baby', 'Baseball & Softball', 'Basketball',
       'Books', 'Boxing & MMA', 'CDs', 'Cameras', 'Camping & Hiking',
       'Cardio Equipment', "Children's Clothing", 'Cleats', 'Computers',
       'Consumer Electronics', 'Crafts', 'DVDs', 'Electronics', 'Fishing',
       'Fitness Accessories', 'Garden', "Girls' Apparel", 'Golf Apparel',
       'Golf Bags & Carts', 'Golf Balls', 'Golf Gloves', 'Golf Shoes',
       'Health and Beauty', 'Hockey', 'Hunting & Shooting',
       'Indoor/Outdoor Games', "Kids' Golf Clubs", 'Lacrosse',
       "Men's Clothing", "Men's Footwear", "Men's Golf Clubs", 'Music',
       'Pet Supplies', 'Shop By Sport', 'Soccer', 'Sporting Goods',
       'Strength Training', 'Tennis & Racquet', 'Toys', 'Trade-In',
       'Video Games', 'Water Sports', "Women's Apparel",
       "Women's Clothing", "Women's Golf Clubs", nan], dtype=object)

In [18]:
orders[["Additional Order items", "Category"]].sort_values(by="Category").drop_duplicates()

       Additional Order items              Category
56614                     NaN           Accessories
27754         As Seen on  TV!       As Seen on  TV!
75994                    Baby                  Baby
110829    Baseball & Softball   Baseball & Softball
80229              Basketball            Basketball
107058                  Books                 Books
103081           Boxing & MMA          Boxing & MMA
29077                     CDs                   CDs
19627                 Cameras               Cameras
79970        Camping & Hiking      Camping & Hiking
52933        Cardio Equipment      Cardio Equipment
82107     Children's Clothing   Children's Clothing
41634                  Cleats                Cleats
94073               Computers             Computers
111592   Consumer Electronics  Consumer Electronics
18984                  Crafts                Crafts
71832                    DVDs                  DVDs
77689             Electronics           Electronics
75129                 Fishing               Fishing
31377     Fitness Accessories   Fitness Accessories
65092                  Garden                Garden
30449          Girls' Apparel        Girls' Apparel
96571            Golf Apparel          Golf Apparel
102487      Golf Bags & Carts     Golf Bags & Carts
114146             Golf Balls            Golf Balls
100966            Golf Gloves           Golf Gloves
32261              Golf Shoes            Golf Shoes
62342       Health and Beauty     Health and Beauty
7664                   Hockey                Hockey
44070      Hunting & Shooting    Hunting & Shooting
42968    Indoor/Outdoor Games  Indoor/Outdoor Games
46608        Kids' Golf Clubs      Kids' Golf Clubs
49735                Lacrosse              Lacrosse
37486          Men's Clothing        Men's Clothing
39630          Men's Footwear        Men's Footwear
21333        Men's Golf Clubs      Men's Golf Clubs
39788                   Music                 Music
26867            Pet Supplies          Pet Supplies
4377            Shop By Sport         Shop By Sport
77156                  Soccer                Soccer
30702          Sporting Goods        Sporting Goods
94974       Strength Training     Strength Training
91791        Tennis & Racquet      Tennis & Racquet
14762                    Toys                  Toys
55628                Trade-In              Trade-In
32677             Video Games           Video Games
4471             Water Sports          Water Sports
39326         Women's Apparel       Women's Apparel
86080        Women's Clothing      Women's Clothing
83710      Women's Golf Clubs    Women's Golf Clubs

In [19]:
orders["Additional Order items"] = orders["Additional Order items"].fillna(orders["Category"])

In [20]:
orders[["Additional Order items", "Category"]].sort_values(by="Category").drop_duplicates()

       Additional Order items              Category
56614             Accessories           Accessories
27754         As Seen on  TV!       As Seen on  TV!
75994                    Baby                  Baby
110829    Baseball & Softball   Baseball & Softball
80229              Basketball            Basketball
107058                  Books                 Books
103081           Boxing & MMA          Boxing & MMA
29077                     CDs                   CDs
19627                 Cameras               Cameras
79970        Camping & Hiking      Camping & Hiking
52933        Cardio Equipment      Cardio Equipment
82107     Children's Clothing   Children's Clothing
41634                  Cleats                Cleats
94073               Computers             Computers
111592   Consumer Electronics  Consumer Electronics
18984                  Crafts                Crafts
71832                    DVDs                  DVDs
77689             Electronics           Electronics
75129                 Fishing               Fishing
31377     Fitness Accessories   Fitness Accessories
65092                  Garden                Garden
30449          Girls' Apparel        Girls' Apparel
96571            Golf Apparel          Golf Apparel
102487      Golf Bags & Carts     Golf Bags & Carts
114146             Golf Balls            Golf Balls
100966            Golf Gloves           Golf Gloves
32261              Golf Shoes            Golf Shoes
62342       Health and Beauty     Health and Beauty
7664                   Hockey                Hockey
44070      Hunting & Shooting    Hunting & Shooting
42968    Indoor/Outdoor Games  Indoor/Outdoor Games
46608        Kids' Golf Clubs      Kids' Golf Clubs
49735                Lacrosse              Lacrosse
37486          Men's Clothing        Men's Clothing
39630          Men's Footwear        Men's Footwear
21333        Men's Golf Clubs      Men's Golf Clubs
39788                   Music                 Music
26867            Pet Supplies          Pet Supplies
4377            Shop By Sport         Shop By Sport
77156                  Soccer                Soccer
30702          Sporting Goods        Sporting Goods
94974       Strength Training     Strength Training
91791        Tennis & Racquet      Tennis & Racquet
14762                    Toys                  Toys
55628                Trade-In              Trade-In
32677             Video Games           Video Games
4471             Water Sports          Water Sports
39326         Women's Apparel       Women's Apparel
86080        Women's Clothing      Women's Clothing
83710      Women's Golf Clubs    Women's Golf Clubs

In [21]:
orders = orders.drop("Additional Order items", axis = 1)

In [22]:
orders[["Customer Id", "Order Customer Id"]].sort_values(by="Customer Id").drop_duplicates()

        Customer Id  Order Customer Id
10885             2                  2
35017             3                  3
63283             4                  4
96983             5                  5
114329            6                  6
...             ...                ...
30491         18630              18630
41923         18631              18631
56352         18632              18632
48416         18633              18633
48800         18634              18634

[18006 rows x 2 columns]

In [23]:
orders = orders.drop("Order Customer Id", axis = 1)

In [24]:
orders["City"].sort_values().drop_duplicates()

38923      Aguadilla
15103        Alameda
82245         Albany
58604    Albuquerque
59579      Algonquin
            ...
70281        Yonkers
18795           York
4259       Ypsilanti
20415           Yuma
15869     Zanesville
Name: City, Length: 563, dtype: object

In [86]:
orders[orders["City"].isin(["CA"])]

,Category,City,Country,Customer Name,Customer Id,Segment,State,ZIP Code,Market,Order Date,Order Id,Region,Order Item Total,Quantity,Product Price,Profit Margin,Profit,Sales
21035,Children's Clothing,CA,United States,Zena,14046,Consumer,91732,91732.0,Europe,26-10-2017,70493,Northern Europe,299.959992,5,357.100006,16.80%,59.990002,357.100006
34002,Video Games,CA,United States,Eugenia,17171,Corporate,95758,95758.0,Pacific Asia,12-10-2017,73618,Southeast Asia,38.959999,5,39.750000,27.40%,10.910000,39.750000
50076,Consumer Electronics,CA,United States,Sara,14577,Consumer,95758,95758.0,Europe,11-02-2017,71024,Western Europe,189.660004,1,252.880005,26.20%,66.379997,252.880005

In [26]:
orders["ZIP Code"] = orders["ZIP Code"].fillna(orders["State"])

C:\Users\ssleg\AppData\Local\Temp\ipykernel_11176\1718526453.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  orders["ZIP Code"] = orders["ZIP Code"].fillna(orders["State"])

In [100]:
orders["ZIP Code"].isna().sum()

0

In [90]:
orders["ZIP Code"] = orders["ZIP Code"].astype(int)

In [92]:
orders[orders["State"].isin([91732, 95758])]

,Category,City,Country,Customer Name,Customer Id,Segment,State,ZIP Code,Market,Order Date,Order Id,Region,Order Item Total,Quantity,Product Price,Profit Margin,Profit,Sales
21035,Children's Clothing,CA,United States,Zena,14046,Consumer,91732,91732,Europe,26-10-2017,70493,Northern Europe,299.959992,5,357.100006,16.80%,59.990002,357.100006
34002,Video Games,CA,United States,Eugenia,17171,Corporate,95758,95758,Pacific Asia,12-10-2017,73618,Southeast Asia,38.959999,5,39.750000,27.40%,10.910000,39.750000
50076,Consumer Electronics,CA,United States,Sara,14577,Consumer,95758,95758,Europe,11-02-2017,71024,Western Europe,189.660004,1,252.880005,26.20%,66.379997,252.880005

In [106]:
orders["State"][orders["State"].isin([91732, 95758])] = np.NaN

C:\Users\ssleg\AppData\Local\Temp\ipykernel_11176\1484291332.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  orders["State"][orders["State"].isin([91732, 95758])] = np.NaN
C:\Users\ssleg\AppData\Local\Temp\ipykernel_11176\1484291332.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders["State"][orders["State"].isin([91732, 95758])] = np.NaN

In [114]:
orders[orders["City"] == "CA"]

,Category,City,Country,Customer Name,Customer Id,Segment,State,ZIP Code,Market,Order Date,Order Id,Region,Order Item Total,Quantity,Product Price,Profit Margin,Profit,Sales
21035,Children's Clothing,CA,United States,Zena,14046,Consumer,CA,91732,Europe,26-10-2017,70493,Northern Europe,299.959992,5,357.100006,16.80%,59.990002,357.100006
34002,Video Games,CA,United States,Eugenia,17171,Corporate,CA,95758,Pacific Asia,12-10-2017,73618,Southeast Asia,38.959999,5,39.750000,27.40%,10.910000,39.750000
50076,Consumer Electronics,CA,United States,Sara,14577,Consumer,CA,95758,Europe,11-02-2017,71024,Western Europe,189.660004,1,252.880005,26.20%,66.379997,252.880005

In [112]:
orders["State"] = orders["State"].fillna(orders["City"])

In [116]:
orders["City"][orders["City"] == "CA"] = np.NaN

C:\Users\ssleg\AppData\Local\Temp\ipykernel_11176\729600388.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  orders["City"][orders["City"] == "CA"] = np.NaN
C:\Users\ssleg\AppData\Local\Temp\ipykernel_11176\729600388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders["City"][orders["City"] == "CA"] = np.NaN

In [120]:
orders[orders["City"].isna()]

,Category,City,Country,Customer Name,Customer Id,Segment,State,ZIP Code,Market,Order Date,Order Id,Region,Order Item Total,Quantity,Product Price,Profit Margin,Profit,Sales
21035,Children's Clothing,NaN,United States,Zena,14046,Consumer,CA,91732,Europe,26-10-2017,70493,Northern Europe,299.959992,5,357.100006,16.80%,59.990002,357.100006
34002,Video Games,NaN,United States,Eugenia,17171,Corporate,CA,95758,Pacific Asia,12-10-2017,73618,Southeast Asia,38.959999,5,39.750000,27.40%,10.910000,39.750000
50076,Consumer Electronics,NaN,United States,Sara,14577,Consumer,CA,95758,Europe,11-02-2017,71024,Western Europe,189.660004,1,252.880005,26.20%,66.379997,252.880005

In [152]:
orders[["City","ZIP Code"]][orders["ZIP Code"].isin([91732,95758])].drop_duplicates()

            City  ZIP Code
1932    El Monte     91732
3517   Elk Grove     95758
21035        NaN     91732
34002        NaN     95758

E-Commerce Sales Data Analysis.